.pageWrapper {
  display: flex;
  height: 100vh;
  background-color: #f5f6f8;
  font-family: "Inter", sans-serif;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.mainContent header {
  flex-shrink: 0;
}

.container {
  flex: 1;
  padding: 50px 80px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.title {
  font-size: 28px;
  font-weight: 700;
  color: #222;
  margin-bottom: 25px;
}

.inputTitle {
  width: 100%;
  padding: 12px 16px;
  border: none;
  border-radius: 12px;
  background-color: #ffffff;
  color: #525354ff;
  font-size: 16px;
  margin-bottom: 30px;
}

.inputTitle::placeholder {
  color: #525354ff;
}

.select {
  width: 100%;
  padding: 12px 16px;
  border: none;
  border-radius: 12px;
  background-color: #ffffff;
  color: #333;
  font-size: 15px;
  margin-bottom: 20px;
}

.cardRow {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.number {
  width: 35px;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  color: #333;
}

.cardGroup {
  flex: 1;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 28px;
  padding: 12px;
  gap: 12px;
  width: 100%;
}

.input {
  flex: 1;
  border: none;
  border-radius: 16px;
  padding: 10px 12px;
  font-size: 15px;
  outline: none;
  background-color: #f7f8faff;
  color: #333;
}

.input::placeholder {
  color: #999;
}

.icon {
  font-size: 18px;
  color: #D9DDE8;
  cursor: pointer;
  transition: 0.2s;
}

.trash {
  font-size: 18px;
  color: #D9DDE8;
  cursor: pointer;
  transition: 0.2s;
}

.trash:hover {
  transform: scale(1.1);
}

.preview {
  width: 46px;
  height: 46px;
  object-fit: cover;
  border-radius: 10px;
}

.addButton {
  display: block;
  margin: 25px auto 15px;
  background-color: #77bef0;
  border: none;
  color: white;
  font-size: 26px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 0.2s;
}

.addButton:hover {
  background-color: #5aaae5;
}

.createButton {
  display: block;
  margin: 15px auto;
  padding: 12px 40px;
  background-color: #77bef0;
  border: none;
  border-radius: 12px;
  color: white;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
}

.createButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.createButton:hover {
  background-color: #5aaae5;
  transform: translateY(-1px);
}

.helper {
  text-align: center;
  color: #4a4a4a;
  margin-top: 12px;
}
